@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

html,
body {
    height: 100%
}

* {
    padding: 0px;
    margin: 20px
}

body{
    background-color: #d7e3ec;
    place-items: center;
    height: 400px;
}

.file {
    background-color: #ffffff;
    border-radius: 10px;
}

h5 {
    font-family: 'Manrope', sans-serif
}

#div1 {
    border: 2px solid #efeff1;
    border-radius: 5px
}
.tb_row{
  background-color: #ffffff;
}

.result{
  color: #fff;
}
